## Import libraries

In [113]:
import pandas as pd

## Load dataset

In [114]:
file_name = './pima-indians-diabetes.csv'
column_names = ['num_times_pregnant', 'plasma_glucose_concentration', 'diastolic_blood_pressure', 'triceps_skin_fold_thickness', 'two_hour_serum', 'body_mass_index', 'diabetes_pedigree_function', 'age', 'class']
dataset = pd.read_csv(file_name, index_col=False, names=column_names)
dataset

,num_times_pregnant,plasma_glucose_concentration,diastolic_blood_pressure,triceps_skin_fold_thickness,two_hour_serum,body_mass_index,diabetes_pedigree_function,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Convert input and output into numpy array

In [115]:
dataset = dataset.values

## Split input and output matrix

In [116]:
X = dataset[:,0:8]
y = dataset[:,8]

## Define model

In [117]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

## Compile model

In [118]:
model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy'])

## Fit model

In [119]:
model.fit(X, y, epochs=100, batch_size=20, verbose=0)

## Evaluate model

In [120]:
loss , accuracy = model.evaluate(X, y)
print('Accuracy: %.2f ' % (accuracy*100))
print('Loss: %.2f ' % (loss))

24/24 [==============================] - 1s 650us/step - loss: 0.5164 - accuracy: 0.7552
Accuracy: 75.52
Loss: 0.52